<section class="pb-70 pt-100" hidden="true">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h2>Most popular destination</h2>
                </div>
            </div>
        </div>
        <div class="destination-slider-active owl-carousel">
            <div class=row>
                <div class="col-md-3">
                    <div class="single-destination">
                        <figure>
                            <a href="#"><img src="../../../assets/images/destination/1.jpg" alt="">
                            </a>
                            <figcaption>
                                <a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Read More</a>
                            </figcaption>
                        </figure>
                        <div class="des-city">
                            <a href="#"><i class="fa fa-map-marker"></i>Sydney, Australia</a>
                            <h4>Opera House <span>3 Tours</span></h4>
                        </div>
                    </div> <!-- single popular destination  end-->
                </div>

                <div class="col-md-3">
                    <div class="single-destination">
                        <figure>
                            <a href="#"><img src="../../../assets/images/destination/2.jpg" alt="">
                            </a>
                            <figcaption>
                                <a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Read More</a>
                            </figcaption>
                        </figure>
                        <div class="des-city">
                            <a href="#"><i class="fa fa-map-marker"></i>London, Eangland</a>
                            <h4>Tower Bridge<span>5 Tours</span></h4>
                        </div>
                    </div> <!-- single popular destination  end-->
                </div>
                <div class="col-md-3">
                    <div class="single-destination">
                        <figure>
                            <a href="#"><img src="../../../assets/images/destination/3.jpg" alt="">
                            </a>
                            <figcaption>
                                <a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Read More</a>
                            </figcaption>
                        </figure>
                        <div class="des-city">
                            <a href="#"><i class="fa fa-map-marker"></i>Paris, France</a>
                            <h4>Eiffel Tower<span>4 Tours</span></h4>
                        </div>
                    </div> <!-- single popular destination  end-->
                </div>
                <div class="col-md-3">
                    <div class="single-destination">
                        <figure>
                            <a href="#"><img src="../../../assets/images/destination/4.jpg" alt="">
                            </a>
                            <figcaption>
                                <a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Read More</a>
                            </figcaption>
                        </figure>
                        <div class="des-city">
                            <a href="#"><i class="fa fa-map-marker"></i>New york, USA</a>
                            <h4>Statue Of Liberty<span>3 Tours</span></h4>
                        </div>
                    </div> <!-- single popular destination  end-->
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="single-destination">
                        <figure>
                            <a href="#"><img src="../../../assets/images/destination/5.jpg" alt="">
                            </a>
                            <figcaption>
                                <a href="#" class="travel-booking-btn hvr-shutter-out-horizontal">Read More</a>
                            </figcaption>
                        </figure>
                        <div class="des-city">
                            <a href="#"><i class="fa fa-map-marker"></i>Agra, India</a>
                            <h4>Tajmahal<span>5 Tours</span></h4>
                        </div>
                    </div> <!-- single popular destination  end-->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end popular destination-->

<!-- popular destination strat -->
<section class="blog-contents-version-one pt-100 pb-70 popular-packages">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-title text-center">
                <h2>Most popular destination</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- single package -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/7.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>Dubai – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/8.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>Paris – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/9.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>Italy – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/10.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>Thailand – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/11.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>England – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/12.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>India – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/11.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>England – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/8.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>Paris – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-package-carasoul">
                    <div class="package-location">
                        <img src="../../../assets/images/packages/12.jpg" alt="">
                        <span>$150</span>
                    </div>
                    <div class="package-details">
                        <div class="package-places">
                            <h4>India – All Stunning Places</h4>
                            <span> <i class="fa fa-clock-o"></i> 4Days, 5Nights Stay</span>
                            <div class="details">
                                <p><span>Included</span>: Flight Facility, 5 Star Hotel, Sightseeing, Transfers, Meals.
                                </p>
                            </div>
                        </div>
                        <div class="package-ratings-review">
                            <ul class="two-column">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                                <li>
                                    <p>(27 Reviews)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="package-long-btn hvr-shutter-out-horizontal">
                        <a href="#">Book Now</a>
                    </div>
                </div>
            </div>
            <!--End single package -->
        </div>
    </div>
</section><!-- single popular destination  end-->