.ao-tour-above-fold__length-tag {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 700;
}

.ao-tour-above-fold__length-tag {
    text-transform: none;
    background: #319380;
    border-radius: 9px;
    padding: 1px 6px;
    margin-right: 4px;
}