<aside>
    <div class="booking-form">

        <form [formGroup]="tourBookForm">
            <div class="form-group" *ngFor="let item of currentSingleProduct">
                <div class="ao-tour-above-fold__length-tag">
                    Book with flexibility 
                </div>
                {{item.moredetails.minimundaystobook}}
                <!-- <span>{{}}</span> -->
            </div>
            <!-- <div class="form-group">
                <button type="submit" class="booking-confirm hvr-shutter-out-horizontal">
                    <i class="fa fa-tags" aria-hidden="true"></i> $500
                </button>
            </div> -->
            <div *ngFor="let item of tourPrice; let i = index">
                <div class="form-group" *ngIf="item.pricetype === 'price by person'">
                    <button type="submit" class="booking-confirm hvr-shutter-out-horizontal">
                        Price for adult : {{item.adultprice}}
                    </button>
                    <button type="submit" class="booking-confirm hvr-shutter-out-horizontal">
                        Price for child : {{item.childprice}}
                    </button>
                    <button type="submit" class="booking-confirm hvr-shutter-out-horizontal">
                        Price for Infant : {{item.infantprice}}
                    </button>
                </div>
                <div class="form-group" *ngIf="item.pricetype === 'fix price'">
                    <button type="submit" class="booking-confirm hvr-shutter-out-horizontal">
                        Price from : {{item.fixprice}}
                    </button>
                </div>
            </div>
            <div class="booking-title">
                <h2>Book This Tour</h2>
            </div>
            <!-- <div class="form-group">
                <label>Date</label>
                <input matInput class="form-control" [matDatepicker]="picker1"
                    formControlName="bookdate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </div> -->
            <div class="form-group">
                <label>Adults <span>*</span></label>
                <select class="form-control" formControlName="numberAdults"
                (change)="numberAdults()">
                    <option>Adults*</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <!-- <input type="number" class="form-control" id="confirm_email" placeholder="0"
                    formControlName="numberAdults"> -->
            </div>
            <div class="form-group">
                <label>Children <span>(Under 12)</span></label>
                <select class="form-control" formControlName="numberChildren"
                (change)="numberChildren()">
                    <option>Children <span>(Under 12)</span></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <!-- <input type="number" class="form-control" id="number" placeholder="0"
                    formControlName="numberChildren"> -->
            </div>
            <div class="form-group">
                <label>Infant <span>(= 6)</span></label>
                <select class="form-control" formControlName="numberInfant"
                (change)="numberInfant()">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="form-group">
                <label>Departure time</label>
                <ul class="ao-tour-availability__variants-container js-ao-tour-availability__variants-container" *ngFor="let dataItm of Tavaibility">
                    <li class="am-tour-availability__variant js-am-tour-availability__variant">
                       <div class="am-tour-availability__variant-instant-label">
                         Get Instant Confirmation
                       </div>
                       <div class="am-tour-availability__variant-date-start">
                           Time
                           <div class="am-tour-availability__variant-bold-text">{{dataItm.checkintime}}</div>
                       </div>
                       <div class="am-tour-availability__variant-date-arrow-wrapper">
                            <div class="am-tour-availability__variant-date-arrow"></div>
                       </div>
                       <div class="am-tour-availability__variant-date-finish">
                          Date
                          <div class="am-tour-availability__variant-bold-text am-tour-availability__variant-bold-text--text-align-right">
                             {{dataItm.checkindate|date}}
                          </div>
                       </div>
                       <div class="am-tour-availability__variant-delimiter"></div>
                       <div class="am-tour-availability__variant-price-container">
                           <div class="am-tour-availability__variant-bold-text">
                               <!-- <input type="radio"> -->
                            </div>
                           <div class="am-tour-availability__variant-flexibility">
                              <mat-radio-group aria-label="Select an option">
                                <mat-radio-button value="{{dataItm.checkindate}}"
                                (change)="departureTime(dataItm.checkindate, dataItm.checkintime)">Select Date And Time</mat-radio-button>
                              </mat-radio-group>
                            </div>
                       </div>
                       <div class="am-tour-availability__variant-cta-container"></div>
                    </li>
                 </ul>
                <!-- <select class="form-control" formControlName="departureTime"
                >
                    <option>Select a departure time</option>
                    <option *ngFor="let itemAv of Tavaibility;" value="{{itemAv.checkindate}}">
                        {{itemAv.time}}
                    </option>
                </select> -->
            </div>
            <div class="form-group">
                <button type="submit" class="check-availability">
                    Total = {{summTotal | currency}}
                </button>
            </div>
            <div class="form-group">
                <button type="submit" class="check-availability">Check Availability</button>
            </div>
            <div class="form-group">
                <button type="submit" class="booking-confirm hvr-shutter-out-horizontal"
                (click)="submitBookT()">Add
                    To Cart</button>
            </div>
        </form>
    </div>
</aside><!-- adverestment start here-->
