
<section class="section-paddings single-package-area">
	<div class="container">
		<div class="row">
			<!-- single package tab with details -->
			<div class="col-md-8 col-sm-12">
				<div class="single-package-details">
					<div class="single-package-title">
						<h2>Thailand – All Stunning Places</h2>
					</div>
					<ul class="package-content">
						<li>4 Days, 5 Nights</li>
						<li>
							<span>
							   <i class="fa fa-star"></i>
							   <i class="fa fa-star"></i>
							   <i class="fa fa-star"></i>
							   <i class="fa fa-star"></i>
							   <i class="fa fa-star"></i>
							 </span> (3 Reviews)
						</li>
						<li>Code: LMPROU</li>
						<li>$500</li>
					</ul>
					<div class="package-features-image">
						<img src="../../../../assets/images/13.jpg" alt="" class="img-responsove border-raduis-3">
					</div>
				</div><!-- tab menu strat -->

				<!-- tab content start -->
				<br/>
				<div class="row">
					<!-- tabs content -->
                    <mat-tab-group>
						<mat-tab label="Description">
						   <app-descriptiontour></app-descriptiontour> 
                           <app-relativetour></app-relativetour>
						</mat-tab>
						<mat-tab label="Tour Itinary"> 
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="tour-description">
										<h4>Tour Description</h4>
										<div class="main-timeline">
											<!-- single timeline -->
											<div class="timeline">
												<div class="timeline-content left">
													<span class="timeline-icon">1</span>
													<h4>Day 1: Meeting The All Members</h4>
													<p>Tourist attractions people foreign sleep overnight housing. Gerimrany group discount tour operator. Airplane couchsurfing Moi scow ma ps uncharted luxury train guest tour operator German y busre laxation. Paris overnight Japan Tripit territory international carren tal Pacific outdoor Turkey. Country international to urist attractions mil es train Moscow guide. Japan horse riding money Bacel ona Buda pest yach.</p>
												</div>
											</div><!-- single timeline -->

											<!-- single timeline -->
											<div class="timeline">
												<div class="timeline-content left">
													<span class="timeline-icon">2</span>
													<h4>Day 2: Unforgettable Journey</h4>
													<p>Tourist attractions people foreign sleep overnight housing. Gerimrany group discount tour operator. Airplane couchsurfing Moi scow ma ps uncharted luxury train guest tour operator German y busre laxation. Paris overnight.</p>
												</div>
											</div><!-- single timeline -->

											<!-- single timeline -->
											<div class="timeline">
												<div class="timeline-content left">
													<span class="timeline-icon">3</span>
													<h4>Day 3: Night Party</h4>
													<p>Tourist attractions people foreign sleep overnight housing. Gerimrany group discount tour operator. Airplane couchsurfing Moi scow ma ps uncharted luxury train guest tour operator German y busre laxation. Paris overnight.</p>
												</div>
											</div><!-- single timeline -->

											<!-- single timeline -->
											<div class="timeline">
												<div class="timeline-content left">
													<span class="timeline-icon">4</span>
													<h4>Day 4: Time To Say Good Bay</h4>
													<p>Tourist attractions people foreign sleep overnight housing. Gerimrany group discount tour operator. Airplane couchsurfing Moi scow ma ps uncharted luxury train guest tour operator German y busre laxation. Paris overnight.</p>
												</div>
											</div><!-- single timeline -->
										</div>
									</div>
								</div>
							</div>
  
						</mat-tab>
						<mat-tab label="Tour Map"> 
							<div class="mapp" id="overlay">
								<iframe id="maping" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3350.701132954845!2d-96.89708368545975!3d32.879626086054884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864e9d666937c1f7%3A0xae26e896218f405!2sUSA+Bowl!5e0!3m2!1sbn!2sbd!4v1493296407400" allowfullscreen></iframe>
							</div>
						</mat-tab>
                        <mat-tab label="Video"> 
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="tour-description">
										<h4>Video</h4>
										<!-- Video -->
										<div class="tab-video-area video-bg">
											<div class="video-play-btn">
												<a href="https://www.youtube.com/watch?v=UQneDljrWm0" class="video_iframe"><span><i class="fa fa-play"></i></span></a>
											</div>
										</div><!-- Video -->
									</div>
								</div>
							</div>
						</mat-tab>
					</mat-tab-group>

				</div><!-- tab content end -->
			</div><!-- single package tab with details -->

			<!-- booking form start here -->
			<div class="col-md-4 col-sm-12">
                 <app-tourform></app-tourform>
				<div class="adding-form">
					<div class="addfor-bg">
						<div class="add-content">
							<h3>Any Question?</h3>
							<p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sedpr do eiusmod tempor incididunt ut.</p>
							<ul class="contact-for-add">
								<li><img src="images/icon/phone.png" alt="">+123-456-7890</li>
								<li><img src="images/icon/gmail.png" alt="">info@yourcompany.com</li>
							</ul>
						</div>
					</div>
				</div><!-- adverestment start here-->

			</div><!-- booking form end here -->
		</div>
	</div>
</section>