.ao-tour-keep-exploring__element--link {
    font-size: 14px;
    display: inline-block;
    line-height: 21px;
    background-color: #ebeef2;
    border-radius: 7px;
    padding: 4px 8px;
    margin-right: 8px;
    margin-bottom: 6px;
    color: #415466;
}
