<section class="tabbased-search-area ah-grid-col">
    <div class="container">
        <form action="#" method="post">
            <div class="hotel-input-4 input-b">
                <select id='standard1' name='standard' class='custom-select'>
                    <option value=''>Destinations</option>
                    <option value='Us'>South Africa </option>
                    <option value='Canda'>Botwana</option>
                    <option value='london'>Tanzania</option>
                    <option value='france'>Kenya</option>
                    <option value='bd'>Namibia</option>
                </select>
            </div> 
            <div class="hotel-input-4 input-b">
                <input type="date" name='standard' class='inptcalendar'>
            </div>
            
            <div class="searc-btn-7">
                <button type="submit" class="btnblock searchbtn">Search</button>
            </div>
        </form>
    </div>
 </section>
