<div class="row">
    <!-- left content -->
    <div class="col-md-8 col-sm-8">
        <div class="tour-description">
            <h4>Tour Description</h4>
            <p>Tourist attractions people foreign sleep overnight housing. Gerimrany group discount tour operator. Airplane couchsurfing Moi scow ma ps uncharted luxury train guest tour operator German y busre laxation. Paris overnight Japan Tripit territory international carren tal Pacific outdoor Turkey. Country international to urist attractions mil es train Moscow guide. Japan horse riding money Bacel ona Buda pest yach t passport animals package China hitchh iking discover deal. Russia St. Petersburg Cuba creditcard bookin g discover Amst erdam flying. Freedom ani mals car rental booki ng. GEO Instagram group discount Brasil Germany gateway activ e lifestyle. Transit sailing kayak diary Europe chartering.</p>
        </div>
        <div class="chosse-packge">
            <h4>Why you choose this package</h4>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <ul class="packaging-contents">
                        <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                        <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                        <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul class="packaging-contents packaging-contents-right pull-right">
                        <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                        <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                        <li><i class="fa fa-angle-double-right"></i>Sed legere graecis ex.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- left-content -->

    <!-- right content -->
    <div class="col-md-4 col-sm-4">
        <div class="additional-info">
            <div class="info-title">
                <h4>Additional Info</h4>
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="info-list">
                            <p><span><i class="fa fa-map-marker"></i></span>Location</p>
                            <p><span><i class="fa fa-clock-o"></i></span>Duration</p>
                            <p><span><i class="fa fa-user"></i></span>Min Age</p>
                            <p><span><i class="fa fa-users"></i></span>Max People</p>
                            <p><span><i class="fa fa-plane"></i></span>Landing</p>
                            <p><span><i class="fa fa-calendar-check-o"></i></span>Check In</p>
                            <p><span><i class="fa fa-calendar-minus-o"></i></span>Check Out</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="info-details">
                            <p>Thailand</p>
                            <p>4 days</p>
                            <p>12+</p>
                            <p>5</p>
                            <p>Thailand</p>
                            <p>15/5/2018</p>
                            <p>19/5/2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- right content -->
    
</div>
