<br/>
<section class="related-tour popular-packages">
    <div class="container">
        <div class="row">
			<div class="col-sm-12">
				<div class="section-title-3 mbt-100 related-title">
					<h2>Related Post</h2>
				</div>
			</div>
		</div>
    </div>
</section>


<div class="container" style="margin-top: -100px;">
    <div class="product-box padding-all margin-bottom">
        <div class="previous-orders-items" *ngFor="let item of tours; let i=index;">
            <img src="https://dtimg.co.za/photo/180/120/tour_205__1592144390.jpg" />
            <div>
                <p>
                    <b>{{item.bookdate |date}} -
                        09:00 -
                        <a>{{item.name}} </a>
                    </b>
                    <br>

                    {{item.numberAdultSelected}} Adults *, {{item.numberChildrenSelected}} Children ,
                    {{item.numberInfantSelected}} Infant
                    <br>

                    Tour Price : {{item.totCartPrice}}
                </p>
            </div>
            <a class="deleteS" (click)="deleteSingleTour(item)">Remove</a>
        </div>
    </div>
    <div class="wc-proceed-to-checkout" style="text-align: center;">
        <a class="atbtn wc-forward btn btn-link" style="text-align: center;" (click)="checkoutCartTour()">
            Check-out
        </a>
        <br>
        <b>Free Cancellation:</b>
        Get a full refund up to 24 hours in advance for all Day Tours.
        <br>
        <div class="wc-keep-shopping" style="display:inline-block; padding-top: 10px">
            <a class="wc-forward btn btn-info  blue lighten-2" routerLink="/home">
                Continue Shopping
            </a>
        </div>
        <div class="wc-keep-shopping" style="display:inline-block; padding-top: 10px;padding-left: 10px;">
            <a class="wc-forward btn btn-danger red darken-1" (click)="emptyCart(tours)">
                Empty your Cart
            </a>
        </div>
    </div>
    <br>

    <div class="cart-collaterals">
        <div class="cart_totals calculated_shipping">
            <div class="product-box padding-all">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="mb-4">
                            <h4>Subtotal</h4><span fxFlex></span>
                            <h4>{{totalCost |currency}}</h4>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="mb-4">
                            <h4>Grand Total</h4><span fxFlex></span>
                            <h4>{{totalCost |currency}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container" style="margin-top: -100px;" *ngIf="!tours">
    <div class="wc-proceed-to-checkout" style="text-align: center;">
        <a class="atbtn wc-forward btn btn-link" style="text-align: center;" (click)="addTourToCart()">
            Add Tour To Cart
        </a>
        <br>
    </div>
</div>
<br /><br />
