<section class="section-paddings">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="section-title text-center">
					<h2>Out trusted partners</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam at ipsum at ligula vestibulum sodales Sed luctus orci vel nibh aliquam laoreet Aenean accumsan </p>
				</div>
			</div>
		</div>
		<div class="row">
            <!-- partners images -->
                <div class="col-md-3">
                    <div class="single-pertner">
                        <div class="partner-image">
                            <a href="#"><img src="../../../assets/images/partner/1.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-pertner">
                        <div class="partner-image">
                            <a href="#"><img src="../../../assets/images/partner/2.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-pertner">
                        <div class="partner-image">
                            <a href="#"><img src="../../../assets/images/partner/3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-pertner">
                        <div class="partner-image">
                            <a href="#"><img src="../../../assets/images/partner/4.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
		</div>
	</div>
</section> <!-- end partner section -->