<section class="countdown count-down-bg image-bg-padding-100">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12-col-xs-12">
				<div class="count-down-titile">
					<h3>Special Tour in May, Discover <span class="color-one">Thailand</span> for 50 <br> Customers with <span class="color-two">Discount 30%</span> </h3>
				</div>
				<div class="count-timer text-center">
					<div class="time-wrapper">
						<p>It’s limited seating! Hurry up</p>
						<div class="timer">
							<div data-countdown="2018/12/15"></div>
						</div>
					</div>
				</div>
				<div class="buy-now text-center">
					<a href="#" class="travel-primary-btn hvr-fade">Buy Now</a>
				</div>
			</div>
		</div>
	</div>
</section>  <!--end  countdown -->