<app-top-header></app-top-header>
<!-- <app-menu></app-menu> -->
<mat-toolbar class="header-v3">
  <mat-toolbar-row class="header-v3-bottom">
    <!-- <button mat-icon-button>
    </button> -->
    <!-- <span class="menu-spacer"></span> -->
    <img src="../../../../assets/images/logo.png" width="200" height="60">
    <div class="container">
      <div class="header-v1-bottom-inner">
        <app-menu></app-menu>
      </div>
    </div>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row> -->
</mat-toolbar>