.header-top-area {
    background-color: rgba(34, 67, 74, 0.5);
    font-size: 12px;
    color: white;
  }
  
  .btnbook{
      float: right;
      background-color: '#fc2900',
  }
  .btnbook:hover {
      background-color: #D68910 !important;
  }