<!-- top destination start here -->
<section class="top-destination-area pt-100 pb-70">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="section-title text-center">
					<h2>Top Destination</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- single destination -->
			<div class="col-md-3 col-sm-3 col-xs-12" *ngFor="let data of topdestinationmodel">
				<figure>
					<a href="#"><img [src]="data.featureimage" alt="">
					</a>
					<figcaption>
						<a href="#" title=""><h4>{{data.name}}</h4></a>
					</figcaption>
				</figure>
			</div>
			<!-- single destination -->
			<!-- single destination -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<figure>
					<a href="#"><img src="../../../assets/images/destination/america.jpg" alt="">
					</a>
					<figcaption>
						<a href="#" title=""><h4>America</h4></a>
					</figcaption>
				</figure>
			</div>
			<!-- single destination -->
			<!-- single destination -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<figure>
					<a href="#"><img src="../../../assets/images/destination/india.jpg" alt="">
					</a>
					<figcaption>
						<a href="#" title=""><h4>India</h4></a>
					</figcaption>
				</figure>
			</div>
			<!-- single destination -->
			<!-- single destination -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<figure>
					<a href="#"><img src="../../../assets/images/destination/italy.jpg" alt="">
					</a>
					<figcaption>
						<a href="#" title=""><h4>Itilay</h4></a>
					</figcaption>
				</figure>
			</div>
			<!-- single destination -->
			<!-- single destination -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<figure>
					<a href="#"><img src="../../../assets/images/destination/eng.jpg" alt="">
					</a>
					<figcaption>
						<a href="#" title=""><h4>England</h4></a>
					</figcaption>
				</figure>
			</div>
			<!-- single destination -->
			<!-- single destination -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<figure>
					<a href="#"><img src="../../../assets/images/destination/bragil.jpg" alt="">
					</a>
					<figcaption>
						<a href="#" title=""><h4>Brazil</h4></a>
					</figcaption>
				</figure>
			</div>
			<!-- single destination -->
			<!-- single destination -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<figure>
					<a href="#"><img src="../../../assets/images/destination/thaland.jpg" alt="">
					</a>
					<figcaption>
						<a href="#" title=""><h4>Thailand</h4></a>
					</figcaption>
				</figure>
			</div>
			<!-- single destination -->
			<!-- single destination -->
			<div class="col-md-3 col-sm-3 col-xs-12">
				<figure>
					<a href="#"><img src="../../../assets/images/destination/spain.jpg" alt="">
					</a>
					<figcaption>
						<a href="#" title=""><h4>Spain</h4></a>
					</figcaption>
				</figure>
			</div>
			<!-- single destination -->
		</div>
	</div>
</section>
<!-- top destination end here -->
